* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #236130;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

img {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 30px;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  font-family: Helvetica, sans-serif;
}

nav ul a {
  margin: 30px;
  text-decoration: none;
  color: bisque;
  transition: 0.3s;
}

nav ul a:hover {
  margin: 20px;
  font-size: 18px;
  color: rgb(243, 175, 91);
}

